<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogglyAppender" />
    </root>
    <appender name="LogglyAppender" type="log4net.loggly.LogglyAppender, log4net-loggly">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message %property{AppVer}" />
      </layout>
      <filter type="Volumey.Helper.DuplicateLogMessageFilter, Volumey"/>
      <rootUrl value="https://logs-01.loggly.com/" />
      <inputKey value="051c0517-5ae0-46b7-9dbd-e22be6e3a6d4" />
      <tag value="log4net" />
    </appender>
  </log4net>
</configuration>